#include <windows.h>

#include "resource.h"
#include "version.h"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "evilvideo.manifest"

IDD_MAIN DIALOGEX 0, 0, 320, 140
STYLE DS_SHELLFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "evilvideo"
FONT 8, "MS Shell Dlg 2"
BEGIN
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION EV_VERSION_MAJOR, EV_VERSION_MINOR, EV_VERSION_PATCH, 0
PRODUCTVERSION EV_VERSION_MAJOR, EV_VERSION_MINOR, EV_VERSION_PATCH, 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "evilvideo"
            VALUE "FileVersion", EV_VERSION_STRING
            VALUE "InternalName", "evilvideo"
            VALUE "OriginalFilename", "evilvideo.exe"
            VALUE "ProductName", "evilvideo"
            VALUE "ProductVersion", EV_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
